<!DOCTYPE html>
<html>
<head>
  <title>Express - Heroku Starter Project</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Custom -->
  <script src="/js/app.js"></script>
</head>
<body>

  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>This is the Title</h1>
    </header>
    
    <!-- This is the bs3-form boilerplate: -->
    <form action="" method="POST" role="form">
      <legend>Form title</legend>
    
      <div class="form-group">
        <label for="">label</label>
        <input type="text" class="form-control" id="" placeholder="Input field">
      </div>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
</body>
</html>


